﻿@page "/livre"

<NavLink href="/livre/add">
    <button class="btn btn-outline-info">Ajouter un nouveau livre</button>
</NavLink>
@if (Model != null)
{
    <div class="container-fluid">
        <div class="row">
            @foreach (LivreModel l in Model)
            {
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between">
                            <div>
                                <p>@l.Id</p>
                                <p>@l.Nom</p>
                                <p>@l.Auteur</p>
                            </div>
                            <div>
                                <button class="btn btn-outline-danger" @onclick="() => DeleteAsync(l.Id)">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
}

