﻿@page "/livre/add"

<div class="container">
    @* formulaire *@
    <EditForm Model="Form" OnValidSubmit="SubmitAsync">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group">
            <label class="label-control">Titre : </label>
            <InputText class="form-control" @bind-Value="Form.Nom"></InputText>
        </div>
        <div class="form-group">
            <label class="label-control">Auteur :</label>
            <InputText class="form-control" @bind-Value="Form.Auteur"></InputText>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-secondary">Envoyer</button>
        </div>
    </EditForm>
</div>